# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# 
TODO.txt

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# Raspberry Pi binary directory
etc/
lib/
opt/
usr/
tools/
rootfs
Docker/rootfs.tar
Docker/gdrive_download.sh
Docker/PI.cmake
