# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Flask stuff:
instance/
.webassets-cache

# Sphinx documentation
docs/_build/

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# Raspberry Pi binary directory
etc/
lib/
opt/
usr/

